<div class="card mb20">
  <img class="card-img-top" ng-src="{{item.url && item.url.length ? item.url : '/images/no-image.jpg'}}" alt="{{item.maker + ' ' + item.type}}">
  <div class="card-block">
    <h4 class="card-title">{{'MAKER_LABEL' | translate}}: {{item.maker}}</h4>
    <h5 class="card-title">{{'TYPE_LABEL' | translate}}: {{item.type}}</h5>
    <!-- <p ng-show="description" class="card-text">Description: {{item.description}}</p> -->
    <a href="#" ui-sref="CardDetails({id: item.id})" class="btn btn-primary pull-left">{{'VIEW_DETAILS_BTN' | translate}}</a>
    <a ng-click="card.methods.deleteCard(item)" href="#" class="btn btn-danger pull-right">{{'DELETE_BTN' | translate}}</a>
  </div>
</div>