<div ng-if="!list.vars.doneLoading" class="container">
	<div class="jumbotron jumbotron-fluid text-center" style="padding: 2rem; margin: 0">
	  <div class="container">
	    <h1 class="display-3">Loading...</h1>
	  </div>
	</div>
</div>

<div>{{'GREETING' | translate}}</div>

<div ng-if="list.vars.doneLoading" class="container">
	<actions-directive></actions-directive>
	
	<div class="row">
		<div ng-repeat="item in list.vars.data | filter:list.vars.type | filter:list.vars.maker ? list.vars.maker : '' track by $index" class="card-container col-sm-12 col-md-6 col-lg-4">
			<list-card-directive item="item"></list-card-directive>
		</div>
	</div>	
</div>


